[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binance-futures-connector = "*"
numpy = "*"
pandas = "*"
pytz = "*"
requests = "*"
openpyxl = "*"
ta-lib = "*"
python-dotenv = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
